input[type=text], input[type=password], input[type=email],input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-sizing: border-box;
}
/*
border-radius: 20px;
margin: 8px 0px 30px 0px;
padding: 12px 20px;
width: 100%;*/
input[type=text]:focus, input[type=password]:focus,input[type=email]:focus,input[type=number]:focus, select:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.btn-login {
    width: 100%;
    background-color: #3e9612;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 41px;
    cursor: pointer;
    text-decoration-color: #2081ee;
    outline: 0px;
}
.btn-login:hover{
    background-color: #7056af;
    transition-duration: 0.5s;

}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ff1919;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 11px 20px;
    background-color: #f44336;
    font-size: 18px;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}
img.avatar-create-subject{
    width: 94%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.k{
    padding-top: 10000px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /*margin: 5% auto 15% auto; *//* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 25% !important;
    min-width: 356px;/* Could be more or less, depending on screen size */
    margin: auto;

}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    0% {-webkit-transform: scale(0)}
    65% {-webkit-transform: scale(0.6)}
}

@keyframes animatezoom {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
.k{
    padding-top: 1000px;
}