
div.main{
    position: relative;
    background-color: #dad6d5;
    color:black;
    width: 50%;
    min-width: 350px;
    margin:auto;
    margin-top: 70px;
}
div.name{
    text-align: center;
}
div.image{
    width: 30%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
div.information{
    width: 70%;
}
div.column{
    float: left;
    padding: 15px;
    min-width: 250px;
}
.main label b{
    color: green;
}

.btn-myPage {
    width: 100%;
    background-color: #3e9612;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 41px;
    cursor: pointer;
    text-decoration-color: #2081ee;
}
.btn-myPage:hover{
    background-color: #7056af;
    transition-duration: 0.5s;

}
.btn-create{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    outline: 0px;
}
.btn-create:hover{
    background-color: #ff1919;
}
.create-class{
    height: auto !important;
}