
div.main{
    position: relative;
    background-color: #dad6d5;
    color:black;
    width: 53.33%;
    margin:auto;
    margin-top: 165px;
}
div.name{
    text-align: center;
}
div.image{
    float: left;
    padding: 15px;
    width: 25%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
div.information{
    float: left;
    width: 75%;
}
div.information .editClass{
    display: inline-block;
    float: left;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
 .btn-edit{
     margin-left: 9px;
     margin-top: 13px;
     padding: 10px 26px;
    background-color: #2081ee;
    color:#FFFFFF;
    border-radius: 5px;

    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;


    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
input.input-email{
     width: 30%;
 }
